.scroll {
  /*background: red;*/
  text-align: justify;
  padding-right: 5px;
}

.led-yellow-on {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 20px;
    height: 10px;
    background-color: #D5E000;
    border-radius: 10%;
    box-shadow: #D5E000 0 -1px 3px 1px, inset #D5E000 0 -1px 9px, #D5E000 0 2px 12px;
}

.led-red-on {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 20px;
    height: 10px;
    background-color: #F20040;
    border-radius: 10%;
    box-shadow: #F20040 0 -1px 3px 1px, inset #F20040 0 -1px 9px, #F20040 0 2px 12px;
}

.mini-led-red-on {
    margin-left: 1px;
    margin-top: 20px;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #F20040;
    border-radius: 10%;
    box-shadow: #F20040 0 -1px 3px 1px, inset #F20040 0 -1px 9px, #F20040 0 2px 12px;
}

.led-on {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: #2EFE2E;
    border-radius: 10%;
    box-shadow: #2EFE2E 0 -1px 3px 1px, inset #2EFE2E 0 -1px 9px, #2EFE2E 0 2px 12px;
}

.led-off {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 20px;
    height: 10px;
    background-color: #CEE3F6;
    border-radius: 10%;
    box-shadow: #CEE3F6 0 -1px 3px 1px, inset #CEE3F6 0 -1px 9px, #CEE3F6 0 2px 12px;
}

.mini-led-on {
    margin-left: 1px;
    margin-top: 20px;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #2EFE2E;
    border-radius: 10%;
    box-shadow: #2EFE2E 0 -1px 3px 1px, inset #2EFE2E 0 -1px 9px, #2EFE2E 0 2px 12px;
}

.mini-led-off {
    margin-left: 1px;
    margin-top: 20px;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #CEE3F6;
    border-radius: 10%;
    box-shadow: #CEE3F6 0 -1px 3px 1px, inset #CEE3F6 0 -1px 9px, #CEE3F6 0 2px 12px;
}


body {
        /*color: #FFFFFF;*/
        /*font-family: 'Open Sans', bold;*/
        background-color: transparent;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 20px;
        /*position: relative;*/

         }


table.dark {
  /* Fallback for web browsers that don't support RGBa */
      /*background-color: rgb(0, 0, 0);*/
      /* RGBa with 0.6 opacity */

      /*text-align: center;*/
        background-color: rgba(0, 0, 0, 0.5);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
     }

     table.dark th {

      /*text-align: center;*/
       
     }

     .tableclear {
  /* Fallback for web browsers that don't support RGBa */
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);

     }

          .tableclearheader {
  /* Fallback for web browsers that don't support RGBa */
        
        background-color: rgba(0, 0, 0, 0.2);
        
     }
       .tableclear th{
  /* Fallback for web browsers that don't support RGBa */
        /*text-align: center*/
     }
.table {
  margin-bottom: 0px;
}
   .plaindark {
  /* Fallback for web browsers that don't support RGBa */
      
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.5);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          /*text-align: center;*/

    }

     .plaindark td{
  /* Fallback for web browsers that don't support RGBa */
      padding: 5px;
               
    }

  .plaindark_header {
  /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.7);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          text-align: center;

    }


table.light {
  /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.1);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
     }

table.title {
  /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.4);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
              }


input.bigcheckbox  { 
        /*background-color: #FF0000 !important;*/
        width: 40px;
        height:40px;
        /*font-size: 40px;*/
        text-align: center;
                     }

.customfontlrg {
    font-family: 'Poiret One', cursive; font-size: 3em;
}

.customfont {
    font-family: 'Poiret One', cursive; font-size: 2em;
}

.customfontsml {
    font-family: 'Poiret One', cursive; font-size: 1.5em;
}

.customfont.white {
  color: FFFFFF;
  
}

.title-block {
  /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.7);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          padding: 5px;
          text-align: center;
}

.title-block-size {
  min-width: 280px;
  max-width: 280px;

}





.block-body-size {
  min-width: 280px;
  max-width: 280px;
  min-height: 250px;
  /*max-height: 300px;*/

}

.block-body {
   /* Fallback for web browsers that don't support RGBa */
      
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.5);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          padding: 5px;
          text-align: justify;
          

}



td.tdsimple  {

  vertical-align:middle;
}


th.thsimple {border: 0px;}

/*------------------------------------------------------------------------------------------------------------------------------*/

.phasered {
background-color: grey;
}

.phasegreen {
  background-color: green;
  color: white;
}

.phaseyellow {
  background-color: yellow;
}



/*------------------------Dashboard---------------------------*/
.inline {
  /*background: red;*/
  display: inline-block;
  padding: 3px;
  text-align: center;
}

.inline-table {
  /*background: red;*/
  display: inline-table;
  padding: 3px;
  text-align: center;
}

.box {
  
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 0 10px #9ecaed;
  padding: 5px;
  margin: 4px;

}


.dashboardtable th {
  margin-left: 5px;
  font-size: 0.8em;
  padding: 4px;
  border-bottom: 1px solid;
  font-weight: normal;
  text-transform: uppercase;

}

.dashboardtable td {
  font-size: 0.8em;
  /*font-weight: normal;*/

}

@media screen and (max-width: 320px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/

        .dashboardtable th {
          
          font-size: 0.6em;
          
        }

        .dashboardtable td {
          font-size: 0.7em;
        }

}

@media screen and (max-width: 375px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/

        .dashboardtable th {
          
          font-size: 0.6em;
          
        }

        .dashboardtable td {
          font-size: 0.7em;
        }

}


.dashboard-width {
  min-width: 320px;
  max-width: 50%;
}

.dashboard-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tile-size1 {
  min-width: 152px;
}

.tile-size2 {
  min-width: 280px;

}


.tile_title {
   background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        /*background-color: rgba(153, 153, 255, 0.1);*/
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          padding: 4px;
          min-height: 50px;
}

.tile-title-color1 {
          background-color: rgba(100, 100, 100, 0.4);
  }

 .tile-title-color2 {
          background-color: rgba(100, 100, 100, 0.4);
  }

.tile_body {
   background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(0, 0, 0, 0.5);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          padding: 4px;
}


.tile_footer {
   background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
        background-color: rgba(255, 255, 255, 0.2);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 0px;
          padding: 4px;
}

.container {
  /*background: red;*/
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  
.container {
  /*background: red;*/
  padding-left: 5%;
}

}

/*---------------------------------------------------------------*/

.btn-default {
  margin: 10px !important;
  border-radius: 2;
}

.navbar-inverse .navbar-nav > li > a {
background: #333333;
margin: 2px;
}

.progress {
  background-color: #e6e6e6;
  border-radius: 0px;

}